---
import SingleArticleForLatest from "../components/SingleArticleForLatest.astro";
import { articlesList } from "../quearies/articles.js";
let counter = 0;
---

<style>
  .all {
    border: solid 5px #F5EEE2;
    border-radius: 20px;
    background-color: #F5EEE2;
    max-width: 400px;
    max-height: 750px;
  }
  .latest__article__box {
    border: solid 5px #F5EEE2;
    border-radius: 20px;
    background-color: #F5EEE2;
    max-width: 400px;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  /* width */
  .latest__article__box::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .latest__article__box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gray;
    border-radius: 10px;
  }

  /* Handle */
  .latest__article__box::-webkit-scrollbar-thumb {
    background: #E76025;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .latest__article__box::-webkit-scrollbar-thumb:hover {
    background: #e04f10;
  }

  .type {
    display: flex;
    margin: 10px auto;
    color: #E76025;
    justify-content: center;
    font-size: 24px;
  }
</style>

<div class="all">
  <h2 class="type">Последни</h2>
  <div class="article__internal__box latest__article__box">
    {
      articlesList.posts.data.map((item) => {
        if (counter < 6) {
          counter++;
          return (
            <SingleArticleForLatest
              url={item.attributes.slug}
              image={item.attributes.image}
              name={item.attributes.name}
              categories={item.attributes.categories}
              date={item.attributes.date}
            />
          );
        }
      })
    }
  </div>
</div>
