---
import { Image } from "astro:assets";

const { url, image, name, categories, date } = Astro.props;
---

<style>
    a {
        display: flex;
        margin: 20px 0;
        text-decoration: none;
    }

    a:hover {
        opacity: 1;
    }
    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        max-width: 90%;
        overflow: hidden;
        margin: 0;
        color: black;
        text-shadow: black 5px;
    }
    img {
        margin: 0 2%;
        width: 200px;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .article__box__item {
        border-top: 1px solid #E76025;
    }

    .heading {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>
<div class="article__box__item">
    <a href={`/blog/${url}`}>
        <Image
            src={image.data.attributes.url}
            alt={image.data.attributes.alternativeText}
            width="200"
            height="200"
        />
        <div class="heading">
            <p>{name}</p>
            {
                categories.data.map((item) => {
                    return <p>{item.attributes.name}</p>;
                })
            }
        </div>
    </a>
</div>
